$black: #000000;
$white: #ffffff;
$transparent: transparent;

// ----------------------- main colors
$main-bg: #fafafa;
$main-blue: #3f8fe6;
$dark-blue: #0580bb;
$button-blue: #0094f7;
$main-green: #4ad493;
$main-red: #db2828;
$main-gray: #2c2c2c;
$button-font-black: #0f2236;

$main-dark-blue: #0a3d62;

// ----------------------- main font colors
$font-black: #303030;
$font-blue: #3f8fe6;

$fontFamily: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$fontFamilyLight: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
